:host {
  height: 90%;
  width: 50%;
}

.movie-card {
  height: inherit;

  &__image {
    height: 85%;
  }

  &__text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}
